/* Basic configuration for the page */

body {
    background-color: black;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    color: red;
}

img {
    object-fit: contain;
    width: 200px;
    height: 300px;
}

/* Example of box model, I guess... */

.norbox {
    border-style: solid;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}

.header {
    background-color: #333;
    text-align: center;
    padding: 5px;
}

.playlistbox {
    padding-top: 30px;
    padding-left: 30px;
}

.playlistbox > iframe {
    margin: auto;
    display: block;
    border-style: solid;
    border-color: white;
}

/* All of this stuff is for the navbar! */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navar li a:hover {
    background-color: #111;
}
