/* Basic configuration for the page */

body {
    background-color: black;
    color: white;
}

a {
    color: red;
}

.textwall {
    border-style: solid;
    border-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

/* All of this stuff is for the navbar! */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navar li a:hover {
    background-color: #111;
}
